* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fafafa;
}

:root {
    --background-color: #fafafa;
    --blanco-color: #fff;
    --border-color: #dbdbdb;
}


/* --------------MENU---------------------------------------------------- */

.bar-menu {
    background-color: var(--blanco-color);
    border-bottom: 1px solid var(--border-color);
}

.container-menu {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(160px, 300px) minmax(160px, 300px) minmax(160px, 300px);
    justify-items: center;
    align-items: center;
    padding: 8px 0;
    width: 100%;
}

.wrapper-marca {
    display: flex;
    flex-direction: row;
    line-height: 2em;
    margin: 1.2em 0;
    margin-bottom: 0.6em;
}

.icon-marca {
    margin-right: 1em;
}

.icon-marca i {
    font-size: 1.5em;
    color: black;
}

.barra-marca {
    width: 1px;
    background-color: black;
    height: 1.7em;
}

.wrapper-marca figure {
    margin-left: 1em;
}

.wrapper-marca img {
    vertical-align: middle;
}

.wrapper-seach-menu {
    position: relative;
    border: 1px solid var(--border-color);
    text-align: center;
    height: 28px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

input[type="text"] {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    height: 25px;
    width: 100%;
    padding-left: 30px;
    background-color: var(--background-color);
}

input[type="text"]::placeholder {
    text-align: center;
    font-size: 1em;
    color: var(--border-color)
}

input[type="text"]:focus {
    outline: none;
    background-color: var(--blanco-color);
}

.icon-seach-menu {
    position: absolute;
    left: 10px;
    ;
}

.icon-seach-menu i {
    font-size: 0.8em;
    color: #dbdbdb;
}

.nav {
    justify-self: end;
    margin-right: 25px;
}

.nav ul li {
    list-style: none;
    display: inline-block;
    padding-left: 1.5em;
}

.nav ul li a {
    color: #262626;
    display: block;
    font-size: 1.5em;
}


/* -----------------------------------------HEADER----------------- */

.wrapper-information-principal {
    padding: 20px;
}

.wrapper-image {
    grid-area: foto;
    display: flex;
    justify-content: center;
}

.image-profile img {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
}

.information {}

.nameid {
    grid-area: id;
}

.nameid h1 {
    font-size: 1.5em;
    display: inline-block;
    margin-right: 1em;
}

.details div {
    margin-bottom: 0.2em;
}

.detail {
    line-height: 1em;
    letter-spacing: .5px;
    line-height: 23px;
}

.website p a {
    color: #003569;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

.button-id {
    display: inline-block;
    text-decoration: none;
    color: #262626;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.nameid a {
    margin-right: .6em;
}

.nameid a i {
    color: #262626
}

.follows {
    display: flex;
    grid-area: follows;
    text-align: center;
    margin: 15px auto;
}

.follows div {
    margin-right: 2em;
}

.details {
    grid-area: detalles;
}


/* -----------------------------------------HEADER----------------- */


/* -----------------------------------------historis----------------- */

.historis {
    margin-left: 3em;
    grid-area: historias;
}

.historias {
    margin-right: 2.5em;
    width: 75px;
}

.historis .historias img {
    width: 100%;
    border-radius: 50%;
}

.historis figure {
    display: flex;
}


/* -----------------------------------------historis----------------- */


/* -----------------------------------------CATEGORIAS----------------- */

.categorias {
    display: flex;
    justify-content: center;
    grid-area: publication;
}

.categorias div a,
span {
    color: #bbb9b9;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

.categorias div {
    margin-right: 2em;
}


/* -----------------------------------------CATEGORIAS----------------- */


/* -----------------------------------------GRID----------------- */

.grid {
    display: grid;
    justify-content: center;
    padding: 32px 15px;
    grid-template-columns: minmax(auto, 1024px);
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 100px;
    grid-gap: 10px;
    grid-template-areas: "foto id ." "foto follows ." "foto detalles . " "historias historias . " "publication publication  publication";
}

.nameid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    grid-template-areas: "h1 button tool";
}

.nameid h1 {
    grid-area: h1;
}

.nameid .button-id {
    grid-area: button;
    text-align: center;
}

.nameid a {
    grid-area: tool;
}

@media screen and (max-width:768px) {
    .nameid {
        display: grid;
        grid-row-gap: 10px;
        grid-template-columns: 1fr 1fr;
        align-content: center;
        grid-template-areas: "h1 tool" "button button ";
    }
    .grid-container {
        grid-template-columns: 75px 1fr;
        grid-template-areas: "foto id " "detalles detalles " " historias historias " "follows follows" "publication publication ";
    }
    .details div p {
        font-size: 0.8em;
    }
    .follows {
        display: flex;
        justify-content: center;
        margin: 0.5em auto;
        border-top: 1px solid #c5c5c5;
        border-bottom: 1px solid #c5c5c5;
        padding: 10px 0;
        width: 100%;
    }
    .follows p {
        color: #979797;
        font-size: 0.8em;
    }
    .follows p strong {
        color: #000;
    }
    .historis {
        margin-left: 0;
    }
    .historias {
        margin-right: 1em;
        width: 56px;
    }
    .categorias span {
        display: none;
        font-size: 5em;
    }
    .categorias {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        font-size: 25px;
        justify-items: center;
    }
    .categorias div {
        margin-right: 0;
    }
}


/* -----------------------------------------GRID----------------- */


/* -----------------------------------------FOOTER----------------- */

footer {
    width: 100%;
    margin: 2em auto;
    text-align: center;
}

footer article a {
    color: #1f1e57;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    margin-right: 1em;
    font-size: 0.8em;
}

footer article span {
    color: #c5c4c4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
}


/* -----------------------------------------FOOTER----------------- */


/* --------------------------PUBLICACIONES----- */

.post {
    cursor: pointer;
    position: relative;
    display: block;
}

.post-image {
    margin: 0;
}

.post-image img {
    width: 100%;
    vertical-align: top;
}

.post-overlay {
    background: rgba(0, 0, 0, .4);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.post:hover .post-overlay {
    display: flex;
    /* Aca se pudo colocar display block normal o initial, pero se coloca flex, para que podamos alinear  */
    /* aprovechando el diplay flex, el contenido del overlay. */
}

.post-likes,
.post-coments {
    width: 80px;
    font-weight: bold;
    text-align: center;
    margin: 5px;
    display: inline-block;
}

.post-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 293px));
    justify-content: center;
    grid-gap: 28px;
}


/* --------------------------PUBLICACIONES--------- */


/* ----------------------mediaquerys-------------------- */

@media screen and (max-width:768px) {
    .post-list {
        grid-gap: 3px;
    }
    .wrapper-seach-menu {
        display: none;
    }
    .container-menu {
        display: grid;
        justify-content: center;
        grid-template-columns: minmax(160px, 300px) minmax(160px, 300px);
        justify-items: center;
        align-items: center;
        padding: 8px 0;
        width: 100%;
    }
}

@media screen and (max-width:340px) {
    .icon-marca,
    .barra-marca {
        display: none;
    }
    .container-menu {
        grid-template-columns: minmax(100px, 300px) minmax(160px, 300px);
    }
}


/* ----------------------mediaquerys-------------------- */